

<div class="col-md-6 panel"  ng-repeat="post in posts">

	<div class="fb-post"
		data-href="https://www.facebook.com/496557860400017/posts/{{mySplit(post.id,1)}}/"
		data-width="500" data-show-text="true">
		< <blockquote
			cite="https://developers.facebook.com/OfficialChintooPage/posts/{{mySplit(post.id,1)}}"
			class="fb-xfbml-parse-ignore">
			Posted by <a href="https://www.facebook.com/OfficialChintooPage/">Chintoo</a>
			on<a
				href="https://developers.facebook.com/OfficialChintooPage/posts/{{mySplit(post.id,1)}}">Sunday,
				March 31, 2019</a>
		</blockquote> 
	</div>

</div>
