<div class="col-xs-12" id="table-div">
	  
	 <table class="table table-striped">
        <thead>
        <tr>
            <th>Post Id</th>
           <th>Post Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="post in myPosts">
            <td>
                {{mySplit(post.id,1)}}
            </td>
            <td>
                {{post.name}}
                <!-- {{myPosts.length}} -->
            </td>
        </tr>
        </tbody>
        </table>
        
        <div ng-if="isAllLiked">
        	<input type="submit" ng-disabled="isDisabled" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" ng-click="getOtp()" id="button-click" value="Get My OTP "/> 
        </div>

        
     
</div>